
<ion-content>
  <div class="background-logo">
    <img src="../../assets/logo.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
  <div class="fence">
    <!-- Dupliquez cette ligne autant de fois que nécessaire pour créer la clôture -->
    <img src="../../assets/allumette.png" alt="" />
  </div>
</ion-content>
